.todoItem {
  cursor: pointer;
}

.todoItem svg {
  animation: show 0.2s ease-in-out;
  color: green;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
